<div class="container">
  <div class="panel panel_header">
      <div class="panel-head">
        <h2>Sistema de registro das Atividades Teórico-Práticas de</h2>
        <div class="aprofundamento">
          <h2>Aprofundamento (ATPA)</h2>
        </div>
      </div>
  </div>
  <h3>Registrar-se</h3>

  <!-- //Formulário de registro de um novo usuário habilitado pelo Devise -->
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
  <div class="col-md-12 nome_email">
    <div class="col-md-6">
      <!-- //div de separação por label e input com seus respectivos valores para armazenamento no banco de dados -->
      <div class="field form-group nome_label">
        <%= f.label :nome %><br />
        <%= f.text_field :nome ,required:true%> <br />
      </div>

      <div class="field form-group">
        <%= f.label :licenciatura %><br />
        <%= select("user","licenciatura",['Letras', 'Matemática', 'Ciências da Natureza', 'Educação Física', 'Teatro',
          'Geografia'],{include_blank:"Selecione"})%>
      </div>


      <div class="field form-group select-group">
        <%= f.label :início_do_curso, :class => "inicio_label" %>
        <%= f.select :inicio_ano, @anos = [ 2008.1, 2008.2, "",2009.1, 2009.2, " ", 2010.1, 2010.2, " ",
        2011.1, 2011.2, " ", 2012.1, 2012.2, " ",
        2013.1, 2013.2, " ", 2014.1, 2014.2, " ",
        2015.1, 2015.2, " ", 2016.1, 2016.2, " ",
        2017.1, 2017.2, " ", 2018.1, 2018.2, " ",
        2019.1, 2019.2, " ", 2020.1, 2020.2, " ",
        2021.1, 2021.2, " ", 2022.1, 2022.2, " ",
        2023.1, 2023.2, " ", 2024.1, 2024.2, " ",
        2025.1, 2025.2, " ", 2026.1, 2026.2, " ",
        2027.1, 2027.2, " ", 2028.1, 2028.2, " " ], selected: "2005.2"%>
      </div>


      <div class="field form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> caracteres mínimos)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="field form-group email_label">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %> <br />
      </div>

      <div class="field form-group">
        <%= f.label :matricula %><br />
        <%= f.text_field :matricula ,require:true%>
      </div>

      <div class="field form-group select-group">
        <%= f.label :previsão_de_término, :class => "termino_label" %>
        <%= f.select :termino_ano, @anos, selected: "2019.1" %>
      </div>


      <div class="field form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    </div>
  </div>

    <div class="foto_perfil">
      <%= f.label 'Envie uma foto de perfil' %>
      <!-- //Espaço para envio de uma foto para anexo de uma foto na coluna :avatar daquele usuário registrado. -->
      <div class="foto_input">
        <%= f.file_field :avatar, accept: 'image/gif, image/jpg, image/jpeg, image/png' %>
      </div>

      <div class="link link_button">
        <div class="col-md-6">
          <%= link_to "Voltar", welcome_index_path, :class => "btn btn-primary direita"  %>
        </div>

        <!-- //Botão de submit. Para salvar o arquivo no banco de dados e chamar o método para criação do registro -->
        <div class="actions form-group col-md-6 registro">
          <%= f.submit "Registrar", :class => "btn btn-warning esquerda" %>
        </div>
      </div>
    </div>
<% end %>

  <style type="text/css">
    .container {
      text-align:center;
    }

    .nome_label input, .email_label input{
      width:420px;
    }
    .link {
      margin-left:-5px;
    }
    .link > .col-md-6 {
      margin-top:30px;
    }
    select {
      width:200px;
    }
    .registro input {
      background-color:
    }
    .direita {
      float:right;
    }
    .esquerda {
      float:left;
    }
    .termino_label, .inicio_label {
      padding-bottom:13px;
    }
    .foto_input {
      padding-left:38%;
    }
  </style>
</div>
