<div class="container">

  <h1>Exibindo Horas Cadastradas</h1>

  <!-- A tabela consiste em exibir as horas totais, as horas máximas
  e as horas cadastradas e aprovadas pelo aluno, obtendo o atributo cargahoraria[]
  para a demonstração das horas somadas no array -->
  <table border="1" width="80%" class="table table-hover">
    <!-- Exibição do atributo nome do usuário que solicitou a renderização da página -->
    <caption>Total de horas computadas (<%= current_user.nome %>)</caption>
    <tr>
    <th rowspan="10" style="text-align:center; padding-top:200px;">
      <b><p><u>GRUPO 1</u></p>
      <p>ATIVIDADES DE EXTENSÃO</p>
      <p>/ DE ENSINO Carga horária mínima exigida:</p></b>
      <p>≥ 100 horas</p>
    </th>
    <th style="text-align:center;"></th>
    <th style="text-align:center;">Horas contabilizadas</th>
    <th style="text-align:center;">Horas cadastradas (total)</th>
    </tr>
    <tr>
    <th style="text-align:center;">Total contabilizado Grupo 1</th>
    <td width="20%" align="center"><b><%= current_user.cargahoraria[19] %></b></td>
    <td width="20%" align="center"><b><%= current_user.cargahoraria_total[19] %></b></td>
    </tr>
    <tr>
    <th><b>1.1 Participação como ouvinte em Palestras, Seminários,
           Congressos, Conferências, Simpósios, Fóruns, Encontros,
           Mesas Redondas e similares.</b>
    </th>
    <td align="center"><%= current_user.cargahoraria[0] %></td>
    <td align="center"><%= current_user.cargahoraria_total[0] %></td>
    </tr>
    <tr>
    <th><b>1.2 Participação no desenvolvimento de projetos de extensão sob
           orientação de professor, <u>na área de formação</u></b>
    </th>
    <td align="center"><%= current_user.cargahoraria[1] %></td>
    <td align="center"><%= current_user.cargahoraria_total[1] %></td>
    </tr>
    <tr>
    <th><b>1.3 Visitas orientadas a exposições, museus, teatros, patrimônio
                        artístico ou cultural </b></th>
    <td align="center"><%= current_user.cargahoraria[2] %></td>
    <td align="center"><%= current_user.cargahoraria_total[2] %></td>
    </tr>
    <tr>
    <th><b>1.4 Representação em Órgãos Colegiados e/ou Comissões do
                        IFFluminense campus Campos Centro</b></th>
    <td align="center"><%= current_user.cargahoraria[3] %></td>
    <td align="center"><%= current_user.cargahoraria_total[3] %></td>
    </tr>
    <tr>
    <th><b>1.5 Participação em atividade de extensão, <u>na área de formação</u>, nas
                        modalidades presencial e/ou semipresencial</b></th>
    <td align="center"><%= current_user.cargahoraria[4] %></td>
    <td align="center"><%= current_user.cargahoraria_total[4] %></td>
    </tr>
    <tr>
    <th><b>1.6 Atuação em função de bolsista no IFFluminense, em no mínimo
                        02 (dois) períodos letivos</b></th>
    <td align="center"><%= current_user.cargahoraria[5] %></td>
    <td align="center"><%= current_user.cargahoraria_total[5] %></td>
    </tr>
    <tr>
    <th><b>1.7 Participação em curso de extensão, na área de formação, na
                        modalidade online </b></th>
    <td align="center"><%= current_user.cargahoraria[6] %></td>
    <td align="center"><%= current_user.cargahoraria_total[6] %></td>
    </tr>
    <tr>
    <th><b>1.8 Participação em Atividade de Monitoria, <u>na área de formação</u>,
                        no 2.º segmento do Ensino Fundamental, em Cursos de Nível
                        Médio e/ou em Curso Superior</b></th>
    <td align="center"><%= current_user.cargahoraria[7] %></td>
    <td align="center"><%= current_user.cargahoraria_total[7] %></td>
    </tr>
    <tr>
      <th rowspan="5" style="text-align: center; padding-top:70px;">
        <b><p><u>GRUPO 2</u></p>
        <p>ATIVIDADES ACADÊMICO-</p>
        <p>-CIENTÍFICO-</p>
        <p>-CULTURAIS</p></b>
        <p>Carga horária mínima exigida:</p>
        <p>≥ 80 horas</p>
      </th>
    <th style="text-align:center;">Total contabilizado Grupo 2</th>
    <td align="center"><b><%= current_user.cargahoraria[20] %></b></td>
    <td align="center"><b><%= current_user.cargahoraria_total[20] %></b></td>
    </tr>
    <tr>
    <th><b>2.1 Participação como ouvinte na apresentação oral de Qualificação do
                        Projeto e/ou Monografia(Trabalho de Conclusão, Dissertação e Tese),
                        <u>na área de formação e/ou em áreas afins à formação</u></b></th>
    <td align="center"><%= current_user.cargahoraria[8] %></td>
    <td align="center"><%= current_user.cargahoraria_total[8] %></td>
    </tr>
    <tr>
    <th><b>2.2 Participação como ouvinte na apresentação oral de Monografias
                        (Trabalho Conclusão de Curso, Dissertação e Tese),
                        <u>na área de formação e/ou em áreas afins à formação</u></b></th>
    <td align="center"><%= current_user.cargahoraria[9] %></td>
    <td align="center"><%= current_user.cargahoraria_total[9] %></td>
    </tr>
    <tr>
    <th><b>2.3 Participação como ouvinte em Palestras, Seminários,Congressos,
                        Conferências, Simpósios, Fóruns, Encontros, Mesas Redondas,
                        minicursos, oficinas e similares</b></th>
    <td align="center"><%= current_user.cargahoraria[10] %></td>
    <td align="center"><%= current_user.cargahoraria_total[10] %></td>
    </tr>
    <tr>
    <th><b>2.4 Participação como ouvinte em atividades artísticas e culturais
                        sob a supervisão de professor e/ou de profissional do
                        IFFluminense</b></th>
    <td align="center"><%= current_user.cargahoraria[11] %></td>
    <td align="center"><%= current_user.cargahoraria_total[11] %></td>
    </tr>
    <tr>
      <th rowspan="8" style="text-align: center; padding-top:100px;">
        <b><p><u>GRUPO 3</u></p>
          <p>PRODUÇÃO ACADÊMICO-</p>
          <p>-CIENTÍFICO-</p>
          <p>-CULTURAL e PESQUISA INSTITUCIO NAL VINCULADA Á AGÊNCIA DE FOMENTO</p></b>
        <p>Carga horária mínima exigida:</p>
        <p>≥ 20 horas</p>
      </th>
    <th style="text-align:center;">Total contabilizado Grupo 3</th>
    <td align="center"><b><%= current_user.cargahoraria[21] %></b></td>
    <td align="center"><b><%= current_user.cargahoraria_total[21] %></b></td>
    </tr>
    <tr>
    <th><b>3.1 Apresentação de trabalhos acadêmicos, científicos ou culturais
                        em instituições de âmbito local, regional, nacional e/ou
                        internacional</b></th>
    <td align="center"><%= current_user.cargahoraria[12] %></td>
    <td align="center"><%= current_user.cargahoraria_total[12] %></td>
    </tr>
    <tr>
    <th><b>3.2 Publicação em periódicos / em Anais (Resumo e/ou Artigo Completo)</b></th>
    <td align="center"><%= current_user.cargahoraria[13] %></td>
    <td align="center"><%= current_user.cargahoraria_total[13] %></td>
    </tr>
    <tr>
    <th><b>3.3 Publicação em Livros</b></th>
    <td align="center"><%= current_user.cargahoraria[14] %></td>
    <td align="center"><%= current_user.cargahoraria_total[14] %></td>
    </tr>
    <tr>
    <th><b>3.4 Participação na organização e coordenação de eventos
                        acadêmico-científico-culturais internos ou externos ao
                        IFFluminense</b></th>
    <td align="center"><%= current_user.cargahoraria[15] %></td>
    <td align="center"><%= current_user.cargahoraria_total[15] %></td>
    </tr>
    <tr>
    <th><b>3.5 Participação no desenvolvimento como bolsista ou voluntário,
                        em projetos de pesquisa, por semestre letivo</b></th>
    <td align="center"><%= current_user.cargahoraria[16] %></td>
    <td align="center"><%= current_user.cargahoraria_total[16] %></td>
    </tr>
    <tr>
    <th><b>3.6 Participação em Grupo de Estudo Temático soborientação de
                        professor, por semestre letivo, <u>na área de formação e/ou em
                        áreas afins à formação</u></b></th>
    <td align="center"><%= current_user.cargahoraria[17] %></td>
    <td align="center"><%= current_user.cargahoraria_total[17] %></td>
    </tr>
    <tr>
    <th><b>3.7 Apresentação de trabalhos de pesquisa institucional em eventos
                        científicos internos ou externos</b></th>
    <td align="center"><%= current_user.cargahoraria[18] %></td>
    <td align="center"><%= current_user.cargahoraria_total[18] %></td>
    </tr>
  </table>
  <%= link_to 'Voltar', activities_path, :class => "btn btn-primary"  %>
</div>
